.board{
	padding:0px;
	margin:0px;
	/*list-style-type: none;*/
	border:2px solid black;
	font-size: 0px
	fill:none;
}

.board div{
	/*width:30px;*/
	/*height:30px;*/
	padding:0px;
	margin:0px;
	/*display:inline-block;*/
	/*font-size:0;*/
	float:left;
}
.white{
	/*background-color:white;*/
	background-color: #f0d9b5;
	/*border:1px solid black;*/
	/*box-sizing: border-box;*/
}
.black{
	/*background-color:black;*/
	background-color: #b58863;
	/*border:1px solid black;*/
	/*box-sizing: border-box;*/
}
.queen{
	background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/15/Chess_qlt45.svg/50px-Chess_qlt45.svg.png);
	background-size:100%;
	background-color:red;
	box-sizing: border-box;
	/*border:1px solid #f0d9b5;*/
}
